
<ion-content>
  <ion-slides mode="md" pager="true" [options]="slideOpts">
    <ion-slide style = 'background-color: #0aa7a3'>
      <img src="../../assets/icon/save-money.svg" alt="">
      <h1>Save Food</h1>
      <h2>Previeni lo spreco alimentare</h2>
    </ion-slide>
    <ion-slide style = 'background-color: #0bbb8d'>
      <img src="../../assets/icon/save-money-1.svg" alt="">
      <h1>Save Money</h1>
      <h2>Rispiarmia il tuo denaro</h2>
    </ion-slide>
    <ion-slide style = 'background-color: #03d977'>
      <img src="../../assets/icon/Group 91.svg" alt="">
      <h1>Save Time</h1>
      <h2>Ottimizza il tempo che dedichi alla spesa</h2>
      <button (click)='goToLoginPage()'>Continue</button>
    </ion-slide>
  </ion-slides>
</ion-content>
