@font-face {
    font-family: 'raleway';
    src: url('../../assets/fonts/Raleway-Regular.ttf');
  }
  
  @font-face {
    font-family: 'comfortaa';
    src: url('../../assets/fonts/Comfortaa-Bold.ttf');
  }
  
  ion-card {
    border: 2px solid #027BC2;
  }
  
  ion-title {
    font-family: 'Comfortaa';
    text-align: center;
  }
  
  ion-card-subtitle {
    text-align: center; 
    font-family: 'Raleway';
  }
  
  ion-card-title {
    text-align: center;
    font-family: 'Raleway';
  }
  
  ion-button {
    font-family: 'Raleway';
    border-radius: 5px;
  }

  ion-icon {
    margin-right: 50px;
  }

  ion-text{
    padding-bottom: 5px;
    border-bottom: 1px white solid;
  }

  span{
    background-color: rgb(4, 252, 4);
    opacity: 0.9;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    position: fixed;
    top: 89%;
    left:7%; 
  }

  a{
    outline: none;
    font-style: underline;
    color: white;
  }

  div.row{
    display: flex;
  }
  