  <ion-content color="primary">
	<ion-toolbar color="primary" class="ion-text-center">
		<ion-title>
		  IL TUO FRIGO
		</ion-title>
	  </ion-toolbar>
	<ion-card>
	  <ion-card-header>
		<ion-card-subtitle class="ion-text-center">
		  <ion-icon name="arrow-back" 
			mwlCalendarPreviousView
			[view]="view"
			(click)="loadItems()"
			[(viewDate)]="viewDate"
			>
		  </ion-icon>
		  <ion-text color="dark">
			<h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' |  date:'d MMMM y' }}</h4>
		  </ion-text>
		  <ion-icon name="arrow-forward"
			mwlCalendarNextView
			[view]="view"
			(click)="loadItems()"
			[(viewDate)]="viewDate">
		  </ion-icon>
		</ion-card-subtitle>
	  </ion-card-header>
  
	  <ion-card-content>
		<ion-text color="dark">
			<h2>In scadenza:</h2> 
		</ion-text>
		<div *ngIf="isEmpty" class="empty">Nessun prodotto in scadenza oggi</div>
		
			<ion-item-sliding *ngFor="let f of frigos" #product>
			<ion-item class="ion_item" lines="none">
				<ion-label>{{ f.title }}</ion-label>
			</ion-item>
			<ion-item-options side="end"
				(ionSwipe)="delete(product, f)">
				<ion-item-option (click)="delete(product, f)"
									expandable
									color="danger">Elimina</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
		
	  </ion-card-content>
	</ion-card>
	<span class="logout">Vuoi uscire dal tuo frigo? <a (click)="logout()">Clicca qui</a></span>
  </ion-content>
  