ion-card-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ion-card-subtitle h4 {
  border-bottom: 1px solid blue;
}

ion-card-content {
  background-color: #f4f5f8;
}