<ion-header>
	<ion-toolbar>
		<ion-title>
			Calendario
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div class="button">
		<ion-button
			class="btn btn-secondary"
			color="secondary"
			mwlCalendarPreviousView
			[view]="view"
			[(viewDate)]="viewDate"
		>
			Previous
		</ion-button>
		<ion-button
			class="btn btn-secondary"
			color="secondary"
			mwlCalendarNextView
			[view]="view"
			[(viewDate)]="viewDate"
		>
			Next
		</ion-button>
		<br>
	</div>

		<div class="col-md-4">
		  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
		</div>

		<br />

	  <div [ngSwitch]="view">

		<mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
			[viewDate]="viewDate"
			[events]="events"
			[refresh]="refresh"
			[activeDayIsOpen]="activeDayIsOpen"
			(dayClicked)="dayClicked($event.day)"
			(eventClicked)="handleEvent('Clicked', $event.event)"
			(eventTimesChanged)="eventTimesChanged($event)"
			>
		</mwl-calendar-month-view>

	  </div>

</ion-content>
