@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../../assets/fonts/Comfortaa-Bold.ttf');
}

ion-title {
  font-family: 'Comfortaa';
  text-align: center;
}

ion-button {
  font-family: 'Raleway';
  width: 100px;
}
  
.button {
  text-align: center;
}
  
.col-md-4 h3 {
  font-family: 'Comfortaa';
  text-align: center;
  text-transform: capitalize;
}

div {
  font-family: 'Raleway';
}