
<ion-content>
		<div class="month">
			<ion-icon  name="arrow-back" 
				class="btn btn-secondary"
				color="secondary"
				mwlCalendarPreviousView
				[view]="view"
				[(viewDate)]="viewDate"
			>
				
			</ion-icon>
		  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
		  <ion-icon name="arrow-forward"
				class="btn btn-secondary"
				color="secondary"
				mwlCalendarNextView
				[view]="view"
				[(viewDate)]="viewDate"
			>
			</ion-icon>
		</div>

		

	  <div [ngSwitch]="view">

		<mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
			[viewDate]="viewDate"
			[events]="events"
			[refresh]="refresh"
			[activeDayIsOpen]="activeDayIsOpen"
			(dayClicked)="dayClicked($event.day)"
			(eventClicked)="handleEvent('Clicked', $event.event)"
			(eventTimesChanged)="eventTimesChanged($event)"
			>
		</mwl-calendar-month-view>
	  </div>
</ion-content>
