ion-button {
  width: 100%;
  
}

ion-card-title{
  text-align: center;
}

ion-card-subtitle{
  text-align: center;
}

ion-card{
  position: fixed;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  min-width: 90%;
  background-color: white;
}

