@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../../assets/fonts/Comfortaa-Bold.ttf');
}

ion-card-title {
  font-family: 'Comfortaa';
}

ion-card-subtitle {
  font-family: 'Raleway';
}

ion-button {
  font-family: 'Comfortaa';
  width: 100%;
  --background: #ffffff;
  color: black;
  border-top: 1px solid #3880ff;
}

ion-card{
  position: fixed;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  min-width: 90%;
}

