
 
  <ion-content>
	  <ion-card>
		<ion-card-header>
		  <ion-card-title>
			INSERIMENTO
		  </ion-card-title>
		  <br>
		  <ion-card-subtitle>
			In questo modo potrai inserire la data di scadenza dei tuoi prodotti.
		  </ion-card-subtitle>
		</ion-card-header>
		  <ion-card-content>
			  <ion-button (click)="goToQrCodePage()">SCANNERIZZARE QR CODE</ion-button><br>
			  <ion-button (click)="addItem(title, date)">INSERISCI MANUALMENTE</ion-button>
		  </ion-card-content>
	  </ion-card>
  </ion-content>
  
