<ion-header>
  <ion-toolbar><ion-img [src]="'assets/logo_color.png/'"></ion-img></ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <div class="dot"><ion-img [src]="'assets/User_PerApp.png/'"></ion-img></div>
    <ion-text class="ion-text-center"><h5>Register to continue</h5></ion-text>
    <form class="form">
    <ion-item color="primary">
      <ion-label position="floating">
        Email
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item color="primary">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" class="form-controll"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" type="submit" color="light">Register</ion-button>
  </form>
</ion-content>